# Windows
Thumbs.db
Desktop.ini

# VSCode
.vscode/
*.code-workspace

# Vivado
*.cache/
*.hw/
*ip_user_files/
*.runs/
*webtalk/
*.xpr
*.jou
*.log
*.str
*.xml
*.pb
*.xdc
*.xdc.bak
*.dcp
*.ltx

# XSIM / Simulation outputs
.xsim.dir/
*.wdb
*.vcd
*.prj
*.tcl
*.bat
*.txt
*.obj
*.exe
*.ini
*.sdb
*.rlx
glbl.v
*.sim/

# Build artifacts
*.bin
*.mcs
*.elf
*.bit

# Temporary / misc
*.swp
*.swo
*.tmp

#STM32CubeIDE / Eclipse
.metadata/
.settings/
.project
.cproject
.mxproject

# Build output
Debug/
Release/
build/

#Generated binary files
*.o
*.d
*.map
*.hex
*.lst
*.su

# IDE temporary files
*.launch

# OS specific
.DS_Store

# Backup / temp files
*~

# Docs
*.hwp
*.pdf
*.pptx
*.drawio
