# Windows
Thumbs.db
Desktop.ini

# VSCode
.vscode/
*.code-workspace

# Vivado
*.cache/
*.hw/
*ip_user_files/
*.runs/
*webtalk/
*.xpr
*.jou
*.log
*.str
*.xml
*.pb
*.xdc.bak
*.dcp
*.ltx

# XSIM / Simulation outputs
.xsim.dir/
*.wdb
*.vcd
*.prj
*.tcl
*.bat
*.txt
*.obj
*.exe
*.ini
*.sdb
*.rlx
glbl.v
*.sim/

# Build artifacts
*.bin
*.mcs
*.elf
*.bit

# Temporary / misc
*.swp
*.swo
*.tmp

# Docs
*.hwp
*.pdf
*.pptx
